.class{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

p{
    color: #0000ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lorem{
    gap: 2;
}